<mat-drawer-container class="example-container h-100" [hasBackdrop]="true">









  <mat-drawer #drawer [mode]="'over'" >

    <section class="d-flex flex-wrap h-100 overflow-hidden">


      <header class="d-flex flex-wrap col-12 justify-content-start align-content-center">
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon>close</mat-icon>
        </button>
      </header>



      <div class="chat-screen d-flex flex-wrap col-12 align-content-start scroll py-3 px-2">
        <div *ngFor="let message of messages" class="col-12 d-flex flex-wrap align-content-center py-1 sss"
          [ngClass]="{'justify-content-start' : message.type == messageTypeEnum.recieved, 'justify-content-end' : message.type == messageTypeEnum.sent}">
          <div class="p-2" [ngClass]="message.type == messageTypeEnum.sent ? 'sent-message' : 'recieved-message'">
            {{message.value}}
          </div>
        </div>
      </div>


      <form (submit)="sendMessage()" [formGroup]="form" class="editor d-flex flex-wrap col-12 justify-content-between align-items-center px-2">
        <button color="primary" mat-icon-button type="submit" [disabled]="!form.controls['textControl'].value"
          class="send-btn d-flex align-content-center justify-content-center align-items-center">
          <mat-icon>send</mat-icon>
        </button>
        <textarea formControlName="textControl" type="text" dir="rtl" class="col-10 scroll px-2 py-3" placeholder="پیام خود را بنویسید..."></textarea>
      </form >
    </section>


  </mat-drawer>





  <mat-drawer-content>
    <section class="h-100 d-flex flex-wrap justify-content-end align-content-end p-4">
      <button mat-fab color="primary" class="col-2" (click)="drawer.toggle()">
        <mat-icon style="color: white;">question_answer</mat-icon>
      </button>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
